{{#extends "base"}}
{{#block "content"}}
<h1>Classes</h1>
<table class="table">
    <tr>
        <th>Classcode</th>
        <th>Date</th>
        <th>Venue</th>
    </tr>

    {{#each trainer}}
    <tr>
        <td>{{First Name}}</td>
        <td>{{Last Name}}</td>
        <td>{{Gender}}</td>
    </tr>
</table>

{{/block}}
{{/extends}}