{{#extends "base"}}

{{#block "content"}}

<h1>Create Student</h1>
<form action="/students/create" method="POST">
    <div>
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control"/>
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="date" name="dob" class="form-control"/>
    </div>
    <div>
        <label>Gender</label>
        <input type="text" name="gender" class="form-control"/>
    </div>
    <input type="submit" value="Create" class="btn btn-primary"/>

    {{!-- <div class="mb-3">
        <label>Classes</label>
        <select name="class_id" class="form-control" multiple>
            {{#each classes}}
            <option value="{{class_id}}"><{{first_name}} {{last_name}}/option>
            {{/each}}
        </select>
    </div> --}}
</form>

{{/block}}

{{/extends}}